body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #FCFCFF;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
    text-align: center;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

a {
    color: #F18B2D;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #F18B2D;
}

.main-color {
    color: #F18B2D;
}

.white-text {
    color: #fff;
    letter-spacing: 10px;
}

::-moz-selection {
    background-color: #DADADA;
    color: #FFF;
}

::selection {
    background-color: #DADADA;
    color: #FFF;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

/* -- section  -- */

.section {
    position: relative;
}

.md-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* --  background section  -- */

.bg-grey {
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.bg-dark {
    background: linear-gradient(#464646, #343435);
}

/* --  background image section  -- */

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background: linear-gradient(to bottom left,#464646, #343435, #F18B2D,#F7B033);
}

.tex {
    color: #343435;
    letter-spacing: 1px;
}

.color {
    color: #F18B2D;
    font-weight: bold;
}

/* --  section header  -- */


.section-header {
    position: relative;
    margin-bottom: 20px;
}

.section-header .title {
    text-transform: capitalize;
}

.title:after {
    content: "";
    display: block;
    height: 4px;
    width: 50px;
    background: linear-gradient(to bottom right, #F7B033, #F18B2D);
    margin-top: 20px;
}

.text-center .title:after {
    margin: 20px auto 0px;
}

/*------------------------------------*\
	Header
\*------------------------------------*/

header {
    position: relative;
}

#home {
    height: 100vh;
}

#home .home-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.home-content{
    margin-bottom: 20%;
}
.home-content h1 {
    text-transform: uppercase;
    text-align: center;
}

.home-content p{
    text-transform: uppercase;
    text-align: center;
}

.home-content button {
    margin-top: 20px;
    
}

.header-wrapper h2 {
    display: inline-block;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb {
    float: right;
    background: transparent;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb .breadcrumb-item.active {
    color: #868F9B;
}

.breadcrumb>li+li:before {
    color: #868F9B;
}

.prod{
    position: absolute;
    max-width: 30%;
    max-height: 20%;
}

/*--- GRID ---*/

.wrapper{
    display: grid;
    grid-template-areas:    "o o"
                            "d th";
}

.one{
    grid-area: o;
    margin-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
}

.two{
    border: #10161A solid;
    grid-area: d;
    margin-right: 80%;
    width: 20%;
    height: 30%;
    margin-left: 5%;
}

.three{
    border: #10161A solid;
    grid-area: th;
    margin-left: 40%;
    margin-right: 50%;
    height: 10%;
    width: 30%;
}

/*--- TABLE ---*/
