body {
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #000000;
    background-color: #DFDFDF;

}

/* --  background image section  -- */

.bg-img {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background: linear-gradient(to top left,#464646, #343435, #F18B2D,#F7B033);
}

.tex {
    color: #161616;
    letter-spacing: 1px;
    text-align: center;
}

.color {
    color: #F18B2D;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-style: italic;
    font-family:'Georgia';
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #000000;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
    text-align: center;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6{
    text-align: center;
    font-size: 80%;
    margin-bottom: 3%;
}
a {
    color: #F18B2D;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #F18B2D;
}

.main-color {
    color: #F18B2D;
}

.white-text {
    color: #fff;
    letter-spacing: 10px;
}

::-moz-selection {
    background-color: #DADADA;
    color: #FFF;
}

::selection {
    background-color: #DADADA;
    color: #FFF;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}



/* --- MENU ---*/


.primary-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 100%;
    transition: background-color 0.5s;
  }
  
  .container{
    max-width: 104rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }
  
  .navbar{
    width: 120rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,
    rgba(0, 0, 0, 0.849), 
    rgba(0, 0, 0, 0.753), 
    rgba(0, 0, 0, 0.637), 
    rgba(0, 0, 0, 0.507),
    rgba(0, 0, 0, 0.295));
    transition: height 0.25s;
  }
  
  .logo{
    margin-right: 3px;
    width: 100px;
    padding: 40px;
    margin-left: 0%;
  }
  
  .menu{
      height: fit-content;
      display: inline-flex;
      align-items: center;
      padding: 0 10px;
      gap: 2rem;
  }
  
  li, .nav-link{
    margin-right: 5%;
    color: #ffffff;
    transition: color .24s;
  }
  
  .nav-link:hover{
    font-weight: 700;
    color: #cc6613;
    filter: blur(30%);
  }
  .button{
    display: inline-block;
    background-color: rgb(230, 140, 23);
    color: #ffffff;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    transition: background-color 0.25s;
  }
  
  .button:hover{
    font-weight: 900;
    background-color: #ffffff;
    border: black solid 2px;
  }
  

  
  @media only screen and(max-width:900px){
    .navbar{
        font-size: 12px;
        justify-content: center;
        width: 930px;
      }
  }
  
  @media only screen and (max-width:880px){
      .navbar{
        font-size: 12px;
        justify-content: center;
        width: 830px;
      }
  
      .logo{
        margin-right: 2px;
        width:80px;
      }
  }
  
  @media only screen and (max-width:710px){
    .navbar{
      font-size: 12px;
      justify-content: center;
      width: 680px;
    }
  }
  
  @media only screen and (max-width:600px){
    .navbar{
      font-size: 12px;
      justify-content: center;
      width: 580px;
    }
  }

  
  @media only screen and (max-width:500px){
    .navbar{
      font-size: 12px;
      justify-content: center;
      width: 485px;
    }
  
    .button{
        text-align: center;
        display: inline-block;
        background-color: rgb(230, 140, 23);
        color: #ffffff;
        padding: 0.5rem 0.5rem;
        border-radius: 2rem;
        transition: background-color 0.25s;
      }

  }

/* -- section  -- */

.section {
    position: relative;
}

.md-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* --  background section  -- */

.bg-grey {
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.bg-dark {
    background: linear-gradient(#464646, #343435);
}


/* --  section header  -- */


.section-header {
    position: relative;
    margin-bottom: 20px;
}

.section-header .title {
    text-transform: capitalize;
}

.title:after {
    content: "";
    display: block;
    height: 4px;
    width: 50px;
    background: linear-gradient(to bottom right, #F7B033, #F18B2D);
    margin-top: 20px;
}

.text-center .title:after {
    margin: 20px auto 0px;
}


/*--- GRID ---*/    
.wrapper {
    color: #FFF;
    display: grid;
    grid-template-areas: "o o";                     
  }
  
  .zero{
    grid-area: z;
  }


  .one {
    grid-area: o;
    margin-bottom: 15%;
    margin-left: 25%;
    margin-top: 20%;
    text-align: center;
  }

.aboutw{
   grid-template-areas: "t t t"
                        "h h h";
   color: #FFF;
}

.h4{
    color: white;
    font-size: 144px;
    font-weight: 300;
    grid-area: h;
  }

  .two {
    margin-top: 4%;
    grid-area: t;   
    width: 100%;
    margin-bottom: 8%;
  }

  /*--- Info Grid ---*/

  .three {
    display: grid;
    grid-template-areas: "t1 t2 t3";
    margin-right: 5%;
    margin-bottom: 10%;
    color: #FFF;
  }

  .t1{
    margin-right: 3%;
    grid-area: t1;
}

  .t2 {
    margin-right: 3%;
    grid-area: t2;
  }

  .t3{
    grid-area: t3;
  }

/* MEDIA SCREEN THREE*/

@media only screen and (max-width:650px){
    .three {
        display: grid;
        grid-template-areas:    "t1 t1 t1"
                                "t2 t2 t2"
                                "t3 t3 t3";
        margin-bottom: 10%;
        margin-left: 5%;
        color: #FFF;
      }
}
@media only screen and (max-width:500px){
    .three {
        display: grid;
        grid-template-areas:    "t1 t1 t1"
                                "t2 t2 t2"
                                "t3 t3 t3";
        margin-bottom: 10%;
        color: #FFF;
      }
}

/*------------------------------------*\
	Header
\*------------------------------------*/

header {
    position: relative;
}

#home {
    height: 100vh;
}

#home .home-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.home-content{
    margin-bottom: 20%;
}
.home-content h1 {
    text-transform: uppercase;
    text-align: center;
}

.home-content p{
    text-transform: uppercase;
    text-align: center;
}

.home-content button {
    margin-top: 20px;
    
}

.header-wrapper h2 {
    display: inline-block;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb {
    float: right;
    background: transparent;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb .breadcrumb-item.active {
    color: #868F9B;
}

.breadcrumb>li+li:before {
    color: #868F9B;
}

/*------------------------------------*\
	About
\*------------------------------------*/

.about {
    position: relative;
    text-align: center;
    padding: 40px 20px;
    border: none;
    margin: 15px 0px;
}

.about i {
    font-size: 36px;
    color: #2e2323;
    margin-bottom: 20px;
}

.about:after {
    content: "";
    background: linear-gradient(to bottom right, #F7B033, #F18B2D);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}

.about:hover:after {
    width: 100%;
}

.about h3 {
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.about:hover h3 {
    color: #464646;
}

/*----- CAROUSEL -----*/
@keyframes carouselAnim{

  0%{

    transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
    transform-origin: center center;
    z-index: 10;
  }
  27%{
    transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
    transform-origin: center center;
    z-index: 10;
  }
  33.33333%{
    transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
    transform-origin: left center;
    z-index: 5;
  }
  60%{
    transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
    transform-origin: left center;
    z-index: 5;
  }
  66.666666%{
    transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
    transform-origin: right center;
    z-index: 5;
  }
  93%{
    transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
    transform-origin: right center;
    z-index: 5;
  }
  100%{
    transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
    transform-origin: center center;
    z-index: 10;
  }
}

.carousel__container{
  width: 100%;
  max-width: 960px;
  perspective: 300px;
  perspective-origin: 50% 60%;
  min-height: 14em;
  margin: 3em auto;
}

.carousel__item{
  position: absolute;
  width: 33%; 
  padding-bottom: 19%;
  animation-name: carouselAnim;
  transform: translateX(0) rotatey(50deg);
  transform-origin: left center;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.carousel__item:first-child{
  animation-delay: -4s;
}
.carousel__item:last-child{
  animation-delay: -8s;
}

.carousel__image{
  position: absolute;
  width: 100%;
  border-radius: 2px;
}

/*------------------------------------*\
	Portfolio
\*------------------------------------*/
.row{
  display: grid;
  grid-template-areas: "pt pt pt"
                       "p1 p2 p3"
                       "p4 p5 p6";
}

.pt{
  grid-area: pt;
}

.p1{
  border: black solid;
  grid-area: p1;
}

.p2{
  border: black solid;
  grid-area: p2;
}

.p3{
  border: black solid;
  grid-area: p3;
}

.p4{
  border: black solid;
  grid-area: p4;
}

.p5{
  border: black solid;
  grid-area: p5;
}

.p6{
  border: black solid;
  grid-area: p6;
}

.work {
    position: relative;
    padding: 20px;
}
.work>img {
    width: 100%;
}

.work .overlay {
    background: linear-gradient(to bottom right, #F7B033, #F18B2D);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.work:hover .overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0.8;
}

.work .work-content {
    /*position: absolute;*/
    left: 25px;
    right: 25px;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.work .work-content h3 {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: #464646;
    margin-bottom: 10px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.work:hover .work-content h3 {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.work .work-content span {
    display: block;
    text-transform: uppercase;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.work:hover .work-content span {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.work .work-link {
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.work .work-link a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #464646;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

.work:hover .work-link {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.15s;
    opacity: 1;
}

/*------------------------------------*\
	Services
\*------------------------------------*/
.sectionn{
  display: grid;
  grid-template-areas:  "st st st"
                        "s1 s2 s3"
                        "s4 s5 s6";
}

.service {
    margin-bottom: 0%;
    position: relative;
    padding: 10px 00px 0px 0px;
    margin: 15px 0px;
    border: 2px solid rgb(247, 176, 51);
    height: 210px;
}

.st{
  grid-area: st;
}

.s1{
  grid-area: s1;
}

.s2{
  grid-area: s2;
}

.s3{
  grid-area: s3;
}

.s4{
  grid-area: s4;
}

.s5{
  grid-area: s5;
}

.service:after {
    content: "";
    background: linear-gradient(to bottom right, #F7B033, #F18B2D);
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}

.service:hover:after {
    width: 100%;
}

.service h3 {
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
    justify-content: center;
}

.service:hover h3 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.tit{
    text-align: center;
}

.detail{
    text-align: center;
    color: rgb(255, 255, 255); 
}

/*------------------------------------*\
	Why choose us
\*------------------------------------*/

.feature {
    margin: 15px 0px;
}

.feature i {
    float: left;
    padding: 5px;
    border-radius: 50%;
    color: #F18B2D;
    border: 1px solid #F18B2D;
    margin-right: 5px;
}

/*------------------------------------*\
	Numbers
\*------------------------------------*/

.number {
    text-align: center;
    margin: 15px 0px;
}

.number i {
    color: #6195FF;
    font-size: 36px;
    margin-bottom: 20px;
}

.number h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

/*------------------------------------*\
	Pricing
\*------------------------------------*/

.pricing {
    position: relative;
    text-align: center;
    border: 1px solid #EEE;
    background-color: #FFF;
    z-index: 11;
    margin: 15px 0px;
}

.pricing::after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0%;
    z-index: -1;
    -webkit-transition: 0.2s height;
    transition: 0.2s height;
}

.pricing:hover:after {
    height: 100%;
}

.pricing .price-head {
    position: relative;
    margin-bottom: 20px;
}

.pricing .price-title {
    display: block;
    padding: 40px 0px 20px;
    text-transform: uppercase;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.pricing:hover .price-title {
    color: #6195FF;
}

.pricing .price {
    position: relative;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #6195FF;
}

.pricing .price h3 {
    font-size: 42px;
    margin: 0px;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
}

.pricing:hover .price h3 {
    color: #fff;
}

.pricing .duration {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #10161A;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.pricing:hover .duration {
    color: #fff;
}

.pricing .price-btn {
    padding-top: 20px;
    padding-bottom: 40px;
}


/*------------------------------------*\
	Footer
\*------------------------------------*/

#footer {
    justify-content: center;
    position: relative;
}

.footer-logo {
    margin-top: 10%;
    text-align: center;
    margin-bottom: 40px;
}

.footer-logo>a>img {
    width: 300px;
    height: 200px;
}

.footer-copyright{
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 55;
}
/*------------------------------------*\
	Responsive
\*------------------------------------*/

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .section-header h2.title {
        font-size: 31.5px;
    }
    .main-btn, .default-btn, .outline-btn, .orange-btn {
        padding: 8px 22px;
        font-size: 20px;
    }
    .home-content h1 {
        font-size: 36px;
    }
    .header-wrapper h2 {
        margin-bottom: 20px;
        text-align: center;
        display: block;
    }
    .header-wrapper .breadcrumb {
        float: none;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    #portfolio [class*='col-xs'] {
        width: 100%;
    }

}

/*------------------------------------*\
	Owl theme
\*------------------------------------*/

/* -- dots -- */

.owl-theme .owl-dots .owl-dot span {
    border: none;
    background: linear-gradient(to bottom right, #F7B033, #F18B2D);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #F18B2D;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: linear-gradient(to bottom right, #343435, #464646);
    width: 20px;
}

/* -- nav -- */

.owl-theme .owl-nav {
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.owl-theme:hover .owl-nav {
    opacity: 1;
}

.owl-theme .owl-nav [class*='owl-'] {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: linear-gradient(to bottom right, #F7B033, #F18B2D);
    color: #464646;
    padding: 0px;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    line-height: 50px;
    margin: 0;
}

.owl-theme .owl-prev {
    left: 0px;
}

.owl-theme .owl-next {
    right: 0px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    opacity: 0.8;
    background: #F18B2D;
}

/*------------------------------------*\
	Back to top
\*------------------------------------*/

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: linear-gradient(to bottom right, #F7B033, #F18B2D);
    color: #464646;
    border-radius: 3px;
    z-index: 9999;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    cursor: pointer;
}

#back-to-top:after {
    content: "\f106";
    font-family: 'FontAwesome';
}

#back-to-top:hover {
    opacity: 0.8;
}

